$module: 'afkl-sticky-element';

.#{$module} {

  &--sticky {
    position: fixed !important;
  }

  &--visible {
    display: block !important;

    &.ng-hide,
    &.ng-hide:not(.ng-hide-animate) {
      display: block !important;
      visibility: hidden !important;
    }
  }
}
